

.questions-container{
  border: 2px solid white;
  border-radius: 20px;

  ol{
    $list_padding_left: 40px;
    padding-left: $list_padding_left;
    font-weight: bold;
    li{
      $item_padding_left: 20px;
      padding-left: $item_padding_left;
      max-width: 94%;
      max-width: calc( 100% - #{$list_padding_left} - #{$item_padding_left} );
    }
  }
}

.question-wrap{
  font-size: 18px;
  line-height: 1.4;

  .question{
    font-weight: 600;
  }
  .answer{
    height: 5em;
    background: $color__bg_card_placeholder;
    border-radius: 8px;
    margin: 10px 0 20px 0;
    font-weight: normal;
    width: 100%;
    resize: none;
    color: inherit;
    padding: 7px;
    border: none;
    outline: none;
    font-size: 20px;
  }

}


::placeholder{
  font-style: italic;
  color: rgba( 255, 255, 255, 0.75 );
  font-size: 15px;
}


.buttons-container{
  text-align: center;
  display: none;
  .btn{
    vertical-align: middle;
    margin: 20px 10px;
  }
}


.hint_container{
  position: absolute;
  bottom: 0;
  left: -80px;


  img{
    transform: rotate(240deg) scaleX(-1);
    position: relative;
    top: -30px;
    left: 60px;
  }

  span{
    display: inline-block;
    max-width: 150px;
    text-align: center;
  }

}


[data-popup="q-and-a-review"]{
  font-weight: 600;

  div{
    text-align: center;
    vertical-align: middle;
  }

  .review-title{
    img{
      height: 1.8em;
    }
    img, span{
      vertical-align: middle;
    }
  }
}