
$font_quicksand: Quicksand, sans-serif;
$font_bebas: BebasNeue, sans-serif;
$font_source-sans-pro: SourceSansPro, Quicksand, sans-serif;

$color__bg_card_placeholder: rgba(0,0,0,0.3);
$color__default_bg: #D93D6D;
$color__red: #EE7771;
$color__green: #5CC4BD;
$color__yellow: #faae31;
$color__blue: #3584A4;

$color__correct_item: #86D1AC;
$color__incorrect_item: #F98F98;