
.IE9 {

  .row.columns-container .column {
    float: left;
  }

  .matched-items-container,
  .cards-stack-container {
    border: none !important;
    padding: 0 !important;
  }

  .wheel-label-text {
    display: inline-block;
  }

}